/*Main css file for the pdf report generator*/
/*Reset*/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
	body {line-height: 1;}
	ol, ul, li {list-style: none;}
	blockquote, q {quotes: none;}
	blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
	:focus {outline: 0;}
	ins {text-decoration: none;}
	del {text-decoration: line-through;}
	table {border-collapse: collapse;border-spacing: 0;}
/*Clearfix, hopefully I can avoid using this*/
	.clearfix:after {
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
/*@fontface here*/

/*begin main css*/
/*general & typography*/
	body {
		background: #fffff6 url('images/bg.png');
		font-family: arial, sans-serif;
	}
/*layout*/
	div#wrap {
		margin: 0 auto;
		width:1000px;
	}
	div#header {
		margin: 20px 0 30px 0;
	}
	div#main_content_lhs, div#main_content_mid, div#main_content_rhs {
		background-color:#FFFFFF;
		border:#c7c7c7 solid 1px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		height:100%;
		overflow:hidden;
	}
	div#main_content_lhs {
		width:230px;
		float:left;
	}
	div#main_content_mid {
		width:500px;
		float:left;
	}
	div#main_content_rhs {
		width:230px;
		float:left;
	}
/*header*/
	#header h1 {
		font-family: Rockwell;
		font-size: 40px;
		text-shadow: #fffff6 0 0 1px;
	}
/*middle column*/
	#report_list li {
		height:40px;
	}
	#report_list img {
		width:20px;
		height:20px;
	}
	#report_list p, #report_list img {
		display:inline;
	}
	div.report_list_controls {
		float:right;
	}